<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znjz.class_lei.mapper.TblUserSignMapper">
    <select id="getFinishStudent" resultType="com.znjz.class_lei.common.entities.TblUserSign">
        SELECT
            a.location_xy,
            b.username,
            b.user_id
        FROM
            tbl_sign AS a
                LEFT JOIN tbl_user AS b ON a.user_id = b.user_id
        WHERE
            a.class_sign_id = #{classSignId}
        ORDER BY a.sign_id
    </select>
</mapper>